@import './untils/fonts';
@import './untils/variables';

@import './untils/utils';/*Button*/

@import './base';


@import './components/buttons';
/*link*/
@import './components/links';
/* Header */
@import './layouts/header';
/* Hero section*/
@import './layouts/hero-section';
/* Advantages section*/
@import './layouts/advantages-section';
/* traditions section */
@import './layouts/traditions-section';
/*Chefs section*/
@import './components/chefs-card';
@import './layouts/chefs-section';
/*Formats section */
@import './layouts/formats-section';
/*Carousel*/
@import './components/carousel-button';
/* Contact section*/
@import './layouts/contact-section';
/*Base*/

@import './untils/mixins';
/*section*/
@import './layouts/section';
/*container*/ 
@import './layouts/container';

@import './untils/texts';

/*Footer*/
@import './layouts/footer';

/* Modal  */
@import './layouts/modal';
/*Form*/
@import './layouts/form';

@import './components/format-card';

.address-list,
.address-info {
    flex-grow: 1;
}

.adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.adress-link:hover {
    color: var(--color-brand-normal);
}

.addrees-icon {
    fill: var(--color-primary-light);
    height: 32px;
}

.addrees-icon:hover {
    fill: var(--color-brand-normal);
    height: 32px;
}

.adress-copiright {
    font-size: 14px;
}





/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked+.checkbox-label::before {
    background-color: var(--color-secondary-dark);
}

.checkbox-label {
    padding-left: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    content: '';
} */