.traditions-section {
    padding-top: 96px;


}

.traditions-conteiner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
}

.traditions-title {
    margin-bottom: 47px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .uppercase {
    color: var(--color-brand-normal);
    text-transform: uppercase;
}

.traditions-text:nth-child(3) {
    max-width: 330px;
}